provider "vsphere" {
  vsphere_server = "{{vsphere_server}}"
  user = "{{vsphere_user}}"
  password = "{{vsphere_pass}}"
  allow_unverified_ssl = true
}

# --- VARIABLE-DECLARATION

data "vsphere_datacenter" "dc" {
  name = "{{vsphere_datacenter}}"
}

data "vsphere_compute_cluster" "cluster" {
  name = "{{vsphere_cluster}}"
  datacenter_id = data.vsphere_datacenter.dc.id
}

data "vsphere_resource_pool" "pool" {
  name = "{{vsphere_rp}}"
  datacenter_id = data.vsphere_datacenter.dc.id
}

data "vsphere_datastore" "datastore" {
  name = "{{vsphere_datastore}}"
  datacenter_id = data.vsphere_datacenter.dc.id
}

data "vsphere_network" "network_home" {
  name = "{{vsphere_network_home}}"
  datacenter_id = data.vsphere_datacenter.dc.id
}

variable "ocp-folder" {
  default = "{{vsphere_folder}}"
}

variable "vm_name_sps1" {
  default = "{{sps.sps1.hostname}}"
}
variable "vm_name_sps2" {
  default = "{{sps.sps2.hostname}}"
}
variable "vm_name_sps3" {
  default = "{{sps.sps3.hostname}}"
}

variable "sps_guest_id_tag" {
  default = "{{vsphere_guest_id}}"
}

data "vsphere_virtual_machine" "template" {
  name          = "{{vsphere_vmtemplate_name}}"
  datacenter_id = data.vsphere_datacenter.dc.id
}

# --- Creation of Disks --- #
resource "vsphere_virtual_disk" "nsd01" {
  size       = 20
  vmdk_path  = "spectrumscale-storage/nsd01.vmdk"
  datacenter = "dc-home"
  datastore  = "openshift_storage"
  type       = "eagerZeroedThick"
}

resource "vsphere_virtual_disk" "nsd02" {
  size       = 20
  vmdk_path  = "spectrumscale-storage/nsd02.vmdk"
  datacenter = "dc-home"
  datastore  = "openshift_storage"
  type       = "eagerZeroedThick"
}

resource "vsphere_virtual_disk" "nsd03" {
  size       = 20
  vmdk_path  = "spectrumscale-storage/nsd03.vmdk"
  datacenter = "dc-home"
  datastore  = "openshift_storage"
  type       = "eagerZeroedThick"
}


# --- Create VM sps1 --- #
resource "vsphere_virtual_machine" "{{sps.sps1.hostname}}" {
  name = "{{sps.sps1.hostname}}"
  folder = "{{vsphere_folder}}"
  guest_id = "{{vsphere_guest_id}}"
  resource_pool_id = data.vsphere_resource_pool.pool.id
  firmware = "bios"
  datastore_id = data.vsphere_datastore.datastore.id
  num_cpus = "{{vsphere_sps_cpu}}"
  memory = "{{vsphere_sps_ram}}"
  scsi_controller_count = 2
  scsi_type = "lsilogic-sas"
  scsi_bus_sharing = "virtualSharing"
  boot_delay = 0
  wait_for_guest_ip_timeout = 0
  wait_for_guest_net_timeout = 0
  hardware_version = "{{ vsphere_hardware_version_non_coreos }}"
  network_interface {
    network_id = data.vsphere_network.network_home.id
    adapter_type = "vmxnet3"
  }
  disk {
    label = "rootvolume"
    size  = "16"
    thin_provisioned  = "false"
    eagerly_scrub = "true"
  }

  disk {
    attach = true
    path = vsphere_virtual_disk.nsd01.vmdk_path
    label = "nsd1"
    unit_number = 15
    datastore_id = data.vsphere_datastore.datastore.id
    disk_sharing = "sharingMultiWriter"
    disk_mode = "independent_persistent"
  }

  disk {
    attach = true
    path = vsphere_virtual_disk.nsd02.vmdk_path
    label = "nsd2"
    unit_number = 16
    datastore_id = data.vsphere_datastore.datastore.id
    disk_sharing = "sharingMultiWriter"
    disk_mode = "independent_persistent"
  }

  disk {
    attach = true
    path = vsphere_virtual_disk.nsd03.vmdk_path
    label = "nsd3"
    unit_number = 17
    datastore_id = data.vsphere_datastore.datastore.id
    disk_sharing = "sharingMultiWriter"
    disk_mode = "independent_persistent"
  }

  clone {
    template_uuid = data.vsphere_virtual_machine.template.id # CentOS 8.3
    customize {
      linux_options {
        host_name = "{{sps.sps1.hostname}}"
        domain = "{{domain}}"
      }
      network_interface {
        ipv4_address = "{{sps.sps1.ip}}"
        ipv4_netmask = "24"
      }
      ipv4_gateway = "{{network.router.ip}}"
      dns_server_list = ["{{ network.dns.ip }}"]
    }
  }
}

# --- Create VM sps2 --- #
resource "vsphere_virtual_machine" "{{sps.sps2.hostname}}" {
  name = "{{sps.sps2.hostname}}"
  folder = "{{vsphere_folder}}"
  guest_id = "{{vsphere_guest_id}}"
  resource_pool_id = data.vsphere_resource_pool.pool.id
  firmware = "bios"
  datastore_id = data.vsphere_datastore.datastore.id
  num_cpus = "{{vsphere_sps_cpu}}"
  memory = "{{vsphere_sps_ram}}"
  scsi_controller_count = 2
  scsi_type = "lsilogic-sas"
  scsi_bus_sharing = "virtualSharing"
  boot_delay = 0
  wait_for_guest_ip_timeout = 0
  wait_for_guest_net_timeout = 0
  hardware_version = "{{ vsphere_hardware_version_non_coreos }}"
  network_interface {
    network_id = data.vsphere_network.network_home.id
    adapter_type = "vmxnet3"
  }
  disk {
    label = "rootvolume"
    size  = "16"
    thin_provisioned  = "false"
    eagerly_scrub = "true"
  }

  disk {
    attach = true
    path = vsphere_virtual_disk.nsd01.vmdk_path
    label = "nsd1"
    unit_number = 15
    datastore_id = data.vsphere_datastore.datastore.id
    disk_sharing = "sharingMultiWriter"
    disk_mode = "independent_persistent"
  }

  disk {
    attach = true
    path = vsphere_virtual_disk.nsd02.vmdk_path
    label = "nsd2"
    unit_number = 16
    datastore_id = data.vsphere_datastore.datastore.id
    disk_sharing = "sharingMultiWriter"
    disk_mode = "independent_persistent"
  }

  disk {
    attach = true
    path = vsphere_virtual_disk.nsd03.vmdk_path
    label = "nsd3"
    unit_number = 17
    datastore_id = data.vsphere_datastore.datastore.id
    disk_sharing = "sharingMultiWriter"
    disk_mode = "independent_persistent"
  }

  clone {
    template_uuid = data.vsphere_virtual_machine.template.id # CentOS 8.3
    customize {
      linux_options {
        host_name = "{{sps.sps2.hostname}}"
        domain = "{{domain}}"
      }
      network_interface {
        ipv4_address = "{{sps.sps2.ip}}"
        ipv4_netmask = "24"
      }
      ipv4_gateway = "{{network.router.ip}}"
      dns_server_list = ["{{ network.dns.ip }}"]
    }
  }
}

# --- Create VM sps3 --- #
resource "vsphere_virtual_machine" "{{sps.sps3.hostname}}" {
  name = "{{sps.sps3.hostname}}"
  folder = "{{vsphere_folder}}"
  guest_id = "{{vsphere_guest_id}}"
  resource_pool_id = data.vsphere_resource_pool.pool.id
  firmware = "bios"
  datastore_id = data.vsphere_datastore.datastore.id
  num_cpus = "{{vsphere_sps_cpu}}"
  memory = "{{vsphere_sps_ram}}"
  scsi_controller_count = 2
  scsi_type = "lsilogic-sas"
  scsi_bus_sharing = "virtualSharing"
  boot_delay = 0
  wait_for_guest_ip_timeout = 0
  wait_for_guest_net_timeout = 0
  hardware_version = "{{ vsphere_hardware_version_non_coreos }}"
  network_interface {
    network_id = data.vsphere_network.network_home.id
    adapter_type = "vmxnet3"
  }
  disk {
    label = "rootvolume"
    size  = "16"
    thin_provisioned  = "false"
    eagerly_scrub = "true"
  }

  disk {
    attach = true
    path = vsphere_virtual_disk.nsd01.vmdk_path
    label = "nsd1"
    unit_number = 15
    datastore_id = data.vsphere_datastore.datastore.id
    disk_sharing = "sharingMultiWriter"
    disk_mode = "independent_persistent"
  }

  disk {
    attach = true
    path = vsphere_virtual_disk.nsd02.vmdk_path
    label = "nsd2"
    unit_number = 16
    datastore_id = data.vsphere_datastore.datastore.id
    disk_sharing = "sharingMultiWriter"
    disk_mode = "independent_persistent"
  }

  disk {
    attach = true
    path = vsphere_virtual_disk.nsd03.vmdk_path
    label = "nsd3"
    unit_number = 17
    datastore_id = data.vsphere_datastore.datastore.id
    disk_sharing = "sharingMultiWriter"
    disk_mode = "independent_persistent"
  }

  clone {
    template_uuid = data.vsphere_virtual_machine.template.id # CentOS 8.3
    customize {
      linux_options {
        host_name = "{{sps.sps3.hostname}}"
        domain = "{{domain}}"
      }
      network_interface {
        ipv4_address = "{{sps.sps3.ip}}"
        ipv4_netmask = "24"
      }
      ipv4_gateway = "{{network.router.ip}}"
      dns_server_list = ["{{ network.dns.ip }}"]
    }
  }
}