/usr/lpp/mmfs/{{ sps_version }}/installer/spectrumscale install --precheck
/usr/lpp/mmfs/{{ sps_version }}/installer/spectrumscale install
/usr/lpp/mmfs/{{ sps_version }}/installer/spectrumscale deploy --precheck
/usr/lpp/mmfs/{{ sps_version }}/installer/spectrumscale deploy
