%nsd: device=/dev/sdd nsd=nsdshared01 servers={{sps.sps1.fqdn}},{{sps.sps2.fqdn}},{{sps.sps3.fqdn}} usage=dataAndMetadata pool=system
%nsd: device=/dev/sde nsd=nsdshared02 servers={{sps.sps1.fqdn}},{{sps.sps2.fqdn}},{{sps.sps3.fqdn}} usage=dataAndMetadata pool=system
%nsd: device=/dev/sdf nsd=nsdshared03 servers={{sps.sps1.fqdn}},{{sps.sps2.fqdn}},{{sps.sps3.fqdn}} usage=dataAndMetadata pool=system