%nsd: device=/dev/sdb nsd=nsd01 servers=sps-patrick1.home.local usage=dataOnly pool=pool01 thinDiskType=no
%nsd: device=/dev/sdc nsd=nsd02 servers=sps-patrick1.home.local usage=dataOnly pool=pool02 thinDiskType=no