%nsd: device=/dev/sdb nsd=nsdshared01 servers={{sps.sps1.fqdn}},{{sps.sps2.fqdn}},{{sps.sps3.fqdn}} usage=dataAndMetadata pool=system
%nsd: device=/dev/sdc nsd=nsdshared02 servers={{sps.sps1.fqdn}},{{sps.sps2.fqdn}},{{sps.sps3.fqdn}} usage=dataAndMetadata pool=system
%nsd: device=/dev/sdd nsd=nsdshared03 servers={{sps.sps1.fqdn}},{{sps.sps2.fqdn}},{{sps.sps3.fqdn}} usage=dataAndMetadata pool=system